/* importaciones */
@font-face {
  font-family: "simpsons";
  src: url("/Simpsonfont\ DEMO.otf");
}

/* resetCss */

body {
  background-color: rgb(237, 243, 247);
  margin: 0;
  padding: 0;
  font-family: "simpsons";
}

ul li {
  list-style-type: none;
  a {
    text-decoration: none;
  }
}

/* clases */
.orientacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo_header {
  height: 100px;
}

.header_class {
  background-color: rgba(168, 10, 70, 0.2345678);

  a {
    color: rgb(140, 90, 1);
    /* aqui con el after indicamos una regla que se ejecuta despues de su primer uso */
    &::after {
      color: rgb(140, 90, 1);
    }
    /* el hover representa la accion que se ejecutara cuadno posicionen el mouse encima del elemento */
    &:hover{
        color: rgb(3, 20, 101)
    }
  }
}
