/* importaciones */
@font-face {
  font-family: "simpsons";
  src: url("/Simpsonfont\ DEMO.otf");
}

/* Variables*/
:root {
  --border-radius: 10px;
  --bg-color: #896;
  --sombra: 0 10px 20px rgba(70, 3, 33, 1);
}

/* resetCss */
* {
  font-family: "simpsons";
}

body {
  background-color: rgb(237, 243, 247);
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  a {
    text-decoration: none;
  }
}

/* clases */
.orientacion {
  /* el "display:flex" nos permite acomodar horizontal o verticalmente los elementos hijos INMEDIATOS al elemento a la etiqueta a la que le asignemso la clase*/
  display: flex;
  justify-content: center; /*centraliza horizontalmente los elementos*/
  align-items: center; /*centraliza horizontalmente los elementos*/
  gap: 20px; /* separa los elementos internos entre si colocando 20px entre cada elemento, el gap SOLO se puede usar con un "display"*/

  /* con el "@media (){}" indicamos bajo que tamaño de pantalla que reglas se van a cumplir
  en este caso indicamos que en una pantalla con un tamaño MAXIMO de 760px de ancho (osea que todas las pantallas por debajo de eso) van a adquirir los estilos que le estamos indicando, cualqueira que no cumpla con las condiciones no lo obtendran */
  @media (max-width: 760px) {
    flex-direction: column;
  }
}

.logo_header {
  height: 100px;
}

.header_class {
  background-color: rgba(168, 10, 70, 0.2345678);

  a {
    color: rgb(140, 90, 1);
    /* aqui con el after indicamos una regla que se ejecuta despues de su primer uso */
    &::after {
      color: rgb(140, 90, 1);
    }
    /* el hover representa la accion que se ejecutara cuadno posicionen el mouse encima del elemento */
    &:hover {
      color: rgb(3, 20, 101);
    }

    @media (max-width: 480px) {
      color: rgb(120, 44, 60);
    }
  }
}

.secciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}
.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.dribbble.com/userupload/22148904/file/original-56b19720d83b146e748d69554e264aff.jpg?resize=752x&vertical=center")
      no-repeat;
  background-size: cover;
  height: 600px;
  color: white;
  /* centramos el contenido del hero (en este caso texto y boton) */

  button {
    border-radius: var(--border-radius);
    border: solid 4px rgb(99, 101, 7);
    box-shadow: var(--sombra);
    cursor: pointer;
    color: aqua;
    background-color: rgb(8, 15, 7);
    &:hover {
      background-color: rgb(20, 80, 40);
    }
    &:active {
      background-color: rgb(30, 90, 60);
    }
  }
}

.proyectos {
  background-color: rgba(5, 5, 80, 0.156787);
  .card {
    background-color: var(--bg-color);
    max-width: 150px;
    max-height: 300px;
    border: solid 0.5px rgba(126, 129, 133, 0.3);
    border-radius: var(--border-radius);
    padding: 10px;
    box-shadow: var(--sombra);
    img {
      height: 100px;
      border-radius: var(--border-radius);
    }
  }
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contactanos {
  background-color: rgba(13, 23, 40, 0.2);
}

.contact_form {
  padding: 50px;
  min-width: 400px;
  background-color: antiquewhite;
  border-radius: var(--border-radius);

  input {
    width: 300px;
    color: blue;
    border-radius: var(--border-radius);
    border: solid 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-shadow: var(--sombra);
  }
  textarea {
    min-width: 300px;
    border-radius: var(--border-radius);
    border: solid 1px rgba(0, 0, 0, 0.3);
    box-shadow: var(--sombra);

  }
}
